:root {
  --bg-color: #181818;
  --text-color: white;
  --secondary-text-color: #73727d;
  --line-color: #363636;
  --surface-color: #1f1f1f;
  --hover-color: #2e2e2e;
  --brand-color: #5040ff;
  --brand-hover: oklch(from var(--brand-color) calc(l + .075) c h);

  --radius: .5em;

  --code-background-color: #1f1f1f;
  --code-border-color: #ffffff1a;
  --code-header-color: #ffffff48;
  --code-numbers-color: #ffffff3e;

  --code-size: 36px;
  --code-header-padding: .8em;
  --code-body-padding: 1.25em 1.6em;
  --line-numbers-padding: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  font-family: Poppins, Inter, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100dvh;
  padding: 3%;
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 3rem;
}

@media(width < 1300px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media(width < 700px) {
  aside footer .cta {
    display: none;
  }

  main {
    width: 100%;
  }

  main header input {
    flex: 1;
  }

  main header button:has(svg) span {
    display: none;
  }
}

button {
  padding: .6em 1.4em;
  font: inherit;
  border: 1px solid var(--line-color);
  background-color: var(--surface-color);
  color: var(--text-color);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 200ms ease;

  &:hover {
    background-color: var(--hover-color);
  }
}

button.cta {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: var(--brand-hover);
  }
}

input, textarea, select {
  accent-color: var(--brand-color)
  
}

textarea:focus, input:focus {
  outline: none;
}

select {
  flex: 1;
  appearance: base-select;
  font: inherit;
  padding: .6em 1em;
  border-radius: var(--radius);
  background-color: var(--surface-color);
  border: 1px solid var(--line-color);
  color: var(--text-color);
  cursor: pointer;
}


main header {
  display: flex;    
  flex-wrap: wrap-reverse;
  gap: 2rem;
  align-items: center;
  padding: 1rem 0;
}

main header div {
  /* width: 100%; */
  display: flex;
  gap: .5em;
}

main h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .5em;
}

aside{
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
}

.controls {
  width: 100%;
  background-color: var(--surface-color);
  border: 1px solid var(--line-color);
  padding: 1rem;
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.controls .span-3 {
  grid-column: span 2;
  border: 1px solid var(--line-color);
  border-radius: var(--radius);
}

.controls .span-3 label {
  border: none;
}

.controls label {
  flex: 1;
  border: 1px solid var(--line-color);
  border-radius: var(--radius);
  padding: .6em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  word-wrap: nowrap;
  min-width: max-content;
}

label[for] {
  cursor: pointer;
}
 
main header input {
  width: 10rem;
  color: var(--text-color);
  font: inherit;
  background-color: var(--surface-color);
  border: 1px solid var(--line-color);
  border-radius: var(--radius);
  padding: .5em;
}

.controls input {
  background: none;
  border: none;
  color: var(--text-color);
  font: inherit;
}

input[type="color"] {
  border: 1px solid #f0f0f0;
  width: 1.5em;
  height: 1.5em;
}

.controls input[type="number"] {
  width: 2rem;
  border-bottom: 1px solid var(--line-color);
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.CodeBox {
  box-sizing:unset;
  --code-radius: .42em;
  font-size: var(--code-size);
  width: max-content;
  border-radius: var(--code-radius);
  background-color: var(--code-background-color);
  border: .05em solid var(--code-border-color);
}

.CodeBox .dots {
  padding: var(--code-header-padding);
  padding-right: 0;
  display: inline-flex;
  gap: .175em;
}

.dots span {
  height: .5em;
  width: .5em;
  background-color: #ff5f57;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

body {
  min-height: 100svh;
  font-family: Poppins, Inter, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.dots span:nth-child(2) {
  background-color: #ffbd2e;
}

.dots span:nth-child(3) {
  background-color: #28c840;
}

.CodeBox:not(:has(.dots)) textarea, .CodeBox:not(:has(.dots)) .colored-text, .CodeBox:not(:has(.dots)) .line-numbers {
  padding-top: var(--code-body-padding);
}

.CodeBox input, textarea {
  font-family: Consolas;
  font-size: inherit;
  background: none;
  color: inherit;
  border: none;
  border-radius: var(--code-radius);
}

.CodeBox .code-header {
  display: flex;
  align-items: center; 
}

.CodeBox .code-header input {
  letter-spacing: -.035em;
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--code-header-padding);
  font-size: .75em;
  color: var(--code-header-color);
  transition: background-color 100ms ease;

  &:hover {
    background-color: var(--line-color);
  }
}

.code-header {
  position: relative;
}

.CodeBox textarea {
  resize: none;
  padding: var(--code-body-padding);
  padding-top: 0;
  color: transparent;
  height: 100%;

  transition: background-color 100ms ease;

  &:not(:focus):hover {
    background-color: var(--hover-color);
  }
}

.CodeBox textarea:hover {
  resize: both;
}

.CodeBox pre {
  background-color: transparent !important;
}

.code-body {
  position: relative;
  display: flex;
}

.stacked-grid {
  display: grid;
  grid-template-areas: "stack";
}

textarea {
  grid-area: stack; 
  min-width: 100%;
}

.colored-text {
  padding: var(--code-body-padding);
  padding-top: 0;
  grid-area: stack;
  pointer-events: none;
}

.CodeBox textarea, .colored-text, .line-numbers {
  line-height: 1.45em;
  letter-spacing: .015em;
  
}

.line-numbers {
  min-width: 2ch;
  display: grid;
  align-content: start;
  font-family: Consolas;
  padding-left: var(--line-numbers-padding);
  padding-bottom: var(--code-body-padding);
  padding-top: 0;
  padding-right: 0;
  text-align: right;
  color: var(--code-numbers-color);
}

.export-size-display {
  font-family: Consolas;
  color: var(--secondary-text-color);
}

aside footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

footer button {
  flex-grow: 1;
  text-align: center;
}

button:has(svg) {
  display: flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
  padding: .5em .9em .5em .65em;
}

button svg {
  fill: var(--text-color);
}

.controls .purple-bg-button {
  background-color: #2c1696;
  background-image: radial-gradient(#4a32b8 1px, transparent 1px);
  background-size: 1.25em 1.25em;
  border-color: rgb(168, 161, 228);
}